po/*.gmo
po/mango-lassi.pot
*.tar.gz
/Makefile
ABOUT-NLS
ChangeLog
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
.deps
*.desktop
*.desktop.in
install-sh
intltool-extract
intltool-merge
intltool-update
m4
missing
stamp-h1
paths.h
po/ChangeLog
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/.intltool-merge-cache
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
*~
po/*.mo
mango-lassi
xinput
*.o
intltool-extract.in
intltool-merge.in
intltool-update.in
